html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 82%;
  left: 9%;
  top: 5%;
}

div.banner {
  padding: 0 .75rem;
  margin-top: 20px;
}

#banner{
  padding-left: 1%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

div.container {
  width: 82%;
  left: 9%;
}

div.row {
  margin-bottom: 1px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #00e676;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #00e676 !important;
}

#todo-item-link {
  height: 75px;
  margin-left: 3px;
  margin-right: 3px;
}

#todo-item-link-content {
  padding-top: 5px;
}

#banner-login {
  margin-top: 60px;
}

.field {
  text-align: center;
  font-size: 12pt;
  margin-top: 20px;
}

.item-screen {
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.item_header { 
  height: 60px;
}
.item_header:hover {
  background-color: #212121;
}

.item-button {
  font-size: 13pt;
  margin: 4px;
  padding: 3px 10px 3px 10px;
  font-weight: 600;
}

.item-field {
  font-size: 13pt;
}

.add-item {
  border-color: #e8f5e9;
  border-width: 0px;
  border-style: solid;
  border-radius: 6px;
  width: 98%;
  height: 50px;
  padding: 2px;
  margin: 1%;
}

.add-item-container {
  border-color: #00e676;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  font-size: 42px;
  padding-top: 0px;
  cursor: pointer;
  color: #00e676;
}

.add-item-container:hover {
  background-color: #616161;
}

.banners {
  padding: 4px;
}

#modal1 {
  height: 250px;
  font-size: 12pt;
}
#modal-footer1 {
  text-align: left;
}
#modal-close {
  margin-left: 6px;
}
.modal-close.grey {
  color: white;
}

.FAB {
  position: absolute;
  padding: 100px;
}